.table {
    border-collapse: collapse;
}

.table td,
.table th {
    border: none;
}

.table thead th {
    font-weight: 700;
}

.table .actions .btn .icon {
    margin-right: 0;
}

.bootstrap-table .fixed-table-toolbar .bs-bars,
.bootstrap-table .fixed-table-toolbar .columns,
.bootstrap-table .fixed-table-toolbar .search {
    margin-top: 0;
}

.bootstrap-table .fixed-table-container .fixed-table-body {
    min-height: 200px;
}

.page-list .dropdown-toggle {
    padding: 2px 8px !important;
}


.reorder_rows_onDragClass {
    transition: transform .3s ease !important;

    opacity: .5 !important;
    background: #ffca4c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2) !important;
}

.ts-dropdown .selected {
    color: inherit;
    background-color: var(--tblr-muted);
}

.ts-dropdown .option:hover {
    color: inherit;
    background-color: var(--tblr-gray-600);
}

.ts-control .item {
    margin-top: 16px;
}

/* Dark mode için toast arka planı */
[data-bs-theme="dark"] .toast {
    background-color: #333;
    /* Koyu bir renk */
    color: #fff;
    /* Açık renk yazı */
}

[data-bs-theme="dark"] .toast .toast-header {
    background-color: #444;
    /* Koyu başlık arka planı */
    color: #fff;
    /* Açık renk başlık yazısı */
    border-bottom: 1px solid #555;
    /* Ayrım çizgisi */
}


/* Dark mode için toast arka planı */
[data-bs-theme="light"] .toast {
    background-color: #DDD;
    /* Koyu bir renk */
    color: #333;
    /* Açık renk yazı */
}

[data-bs-theme="light"] .toast .toast-header {
    background-color: #CCC;
    /* Koyu başlık arka planı */
    color: #333;
    /* Açık renk başlık yazısı */
    border-bottom: 1px solid #555;
    /* Ayrım çizgisi */
}

[data-bs-theme="dark"] .modal {
    background: rgb(13 17 22 / 80%);
}

[data-bs-theme="light"] .modal {
    background: rgb(22 22 22 / 50%);
}

#goToFirstPage {
    margin-left: 50px;
}

[data-bs-theme="dark"] .tox .tox-tbtn svg {
    fill: #ffffff;
}

[data-bs-theme="dark"] .tox .tox-tbtn--disabled svg, 
[data-bs-theme="dark"] .tox .tox-tbtn--disabled:hover svg, 
[data-bs-theme="dark"] .tox .tox-tbtn:disabled svg, 
[data-bs-theme="dark"] .tox .tox-tbtn:disabled:hover svg {
    fill: rgba(127, 128, 129, 0.5);
}
