<IfModule mod_authz_core.c>
    <FilesMatch '(index|template-action|metadata-api)\.php$'>
        Require all granted
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch '(index|template-action|metadata-api)\.php$'>
        Order allow,deny
        Allow from all
    </FilesMatch>
</IfModule>
DirectoryIndex index.php index.html
Options -Indexes
